*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Raleway', sans-serif;
}

#port-jumbo{
	background-image: url(../images/devport.jpg);
	background-size: cover;
	border: 8px solid #007bff;
	border-radius: 10px;
	width: 60%;
	padding: 8em 4em;
}

#jumbo-div{
	padding-top: 10%;
	height: 100vh;
	background-color: gray; /*off black*/
	border-radius: 0;
}

.jumbotron h1{
	color: #f2f2f2; /*off white*/
}

.btn a{
	text-decoration: none;
	color: #333;
}

.btn > a:hover{
	text-decoration: none;
	color: #333;
}


#port > img{
	height: 300px;
}
